/* ------------------------------------------------RESETS */

*,
*::before,
*::after {
  box-sizing: border-box; 
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------------- RESETS----------------------*/

* {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------- IMPORTS----------------------*/



/* -------------------------------------------------------------- BODY----------------------*/
body {
    background-image: url("/docs/images/pexels-alexandre-p-junior-7736052.jpg");    /* Image from Pexels by alexandre junior*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
}

h1,
h2,
h3,
h5, p {
    color: #fff;
}

h2 {
    text-align: center;
}
h2 span {
    color: #dc3545;
}

.uppercase {
    text-transform: uppercase;
}

/* -------------------------------------------------------------- NAVIGATION----------------------*/
.nav-container {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}
nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: hsl(0, 3%, 53%, 0.1);
}

/* Nav lists */

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

#logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.red {
    color: #dc3545;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* Nav list hover */

nav ul li a:hover {
    color: #dc3545;
    transition: 0.3s;
}


  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown content */
.dropdown-list {
    display: none;
    position: absolute;
    background: url("/docs/images/pexels-alexandre-p-junior-7736052.jpg") center cover;    /* Image from Pexels by alexandre junior*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-list a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-list {
    display: block;
}


/* Subribe Button */
button {
    padding: 0;
    text-transform: uppercase;
    background-color: #dc3545;
    color: #fff;
}

button:hover {
    transform: scale(1.1);
}



/* -------------------------------------------------------------- HOME----------------------*/
/* Home-Container */


#home {
    margin-top: 7.5rem;
    margin-bottom: 0;
}


.home-container {
    position: relative;
    width: 90%;
    height: 100vh;
    top: -1rem;
}

.side-text {
    position: absolute;
    left: 20rem;
    bottom: 18rem;
    background-color: hsl(0, 3%, 53%, 0.1);
}

.journey {
    color: #fff;
}

.red {
    color: #dc3545;
}

.home-images1 {
    position: absolute;
    right: -10rem;
    z-index: -1;
}

.home-images2 {
    position: absolute;
    left: 2%;
}

.home-images3 {
    position: absolute;
    right: 25rem;
    bottom: 12rem;
}


.home-images1 img {
    width: 750px;
    height: 750px;
}


.home-images2 img {
    width: 600px;
    height: 200px;
}

.home-images3 img {
    width: 150px;
    height: 150px;
}


/* -------------------------------------------------------------- DESTINATIONS----------------------*/
/* Moons */

.moons-sec {
    margin-top: 7.5rem;
}

#moons {
    position: relative;
}


.title {
    text-align: center;
    margin-top: 2.5rem;
}


.moons-tab {
    background-color: transparent;
    margin-top: 4.5rem;
}

.moons-tab ul li {
    padding: 0;
}


.moons-tab ul li a {
    color: #fff;
}

.moons-tab ul li a:hover {
    color: #dc3545;
    border: none;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.moons-tab-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border-right: 1px solid #dc3545;
}


.h3-heading {
    margin: 3.5rem;
    text-align: center;
    position: relative;
}

.h3-heading::before {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    left: 1rem;
    position: absolute;
    background-color: #dc3545;
    z-index: -1;
}

.h3-heading::after {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    right: 1rem;
    position: absolute;
    background-color: #dc3545;
    z-index: -1;
}


#moons-img-container img {
    height: 200px;
    width: 40%;
}

#moons-img-container .moons-img {
    margin: 0 auto;
}

.container-fluid .model-3d {
    margin: 0 auto;
}



.back-top-btn {
    position: absolute;
    margin: 4.5rem auto;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 2rem;
    bottom: 5rem;
    position: fixed;
    border-radius: 50%;
}

.back-top-btn a {
    color: #fff;
    font-size: 25px;
}

.back-top-btn button {
    transform: none;
    border-radius: 50%;
    background: transparent;
}

.back-top-btn button a:hover {
    text-decoration: none;
    color: #dc3545;
}




/* -------------------------------------------------------------- DESTINATIONS----------------------*/
/* Planets */

.planets-sec {
    margin-top: 8.5rem;
}



/* -------------------------------------------------------------- FOOTER----------------------*/
/* Footer */

#footer-details {
    background-color: hsl(0, 3%, 53%, 0.1);
    margin-top: 3.5rem;
}

footer h5,p {
    color: #fff;
}


footer div h5, p {
    text-align: center;
}
footer .copyright p {
    padding: 50px 0;
    text-align: center;
}


footer li {
    list-style: none;
    display: inline;
    margin-top: 2rem;
    padding-left: 50px;
    font-size: 50px;
}
footer a {
    color: #dc3545;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}