/* ------------------------------------------------RESETS */

*,
*::before,
*::after {
  box-sizing: border-box; 
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------------- RESETS----------------------*/

* {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------- IMPORTS----------------------*/



/* -------------------------------------------------------------- BODY----------------------*/
body {
    background-image: url("/docs/images/pexels-alexandre-p-junior-7736052.jpg");    /* Image from Pexels by alexandre junior*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h5, p {
    color: #fff;
}

h2 {
    text-align: center;
}
h2 span {
    color: #dc3545;
}

.uppercase {
    text-transform: uppercase;
}

/* -------------------------------------------------------------- NAVIGATION----------------------*/
.nav-container {
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsl(0, 3%, 53%, 0.1);
}

/* Nav lists */

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

#logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.red {
    color: #dc3545;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* Nav list hover */

nav ul li a:hover {
    color: #dc3545;
    transition: 0.3s;
}


  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown content */
.dropdown-list {
    display: none;
    position: absolute;
    background: url("/docs/images/pexels-alexandre-p-junior-7736052.jpg") center cover;    /* Image from Pexels by alexandre junior*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-list a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-list {
    display: block;
}


/* Subribe Button */
button {
    padding: 0;
    text-transform: uppercase;
    background-color: #dc3545;
    color: #fff;
}

button:hover {
    transform: scale(1.1);
}



/* -------------------------------------------------------------- JUMBOTRON----------------------*/
/* Jumbotron-Container */

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.jumbotron a {
    color: #dc3545;
}



/* -------------------------------------------------------------- VIDEO----------------------*/
/* Video-Container */

.container {
    padding: 0;
}

#video-container {
    margin-top: 2rem;
}

#video-main {
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
}


/* Aside  */

#aside-container {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
aside {
    text-align: center;
    color: white;
}

aside p {
    margin-bottom: 0;
}

/* -------------------------------------------------------------- CARROUSEL----------------------*/



/* Cards */

#carouselExampleControls {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#carouselExampleControls .carousel-inner {
    width: 200%;
    display: flex;
}

.carousel-inner {
    display: inline-flex;
    margin: 2.5rem auto;
    left: 2rem;
}

.card {
    width: 18rem;
    background: transparent;
    border-radius: 15%;
    display: inline-flex;
    margin: 2.5rem auto;
    
}




.card-img {
    border: 5px solid #fff;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
}

.card-img img {
    border: 2px solid #dc3545;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.card-body {
    background-color: darkgrey;
    margin-top: 0;
    padding: 2px auto;
    position: relative;
}


.card-name {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #dc3545;
    border-radius: 25px 25px 0 0;
}


.card-socials {
    margin: 1rem auto;
    text-align: center;
}

.card-socials a {
    font-size: 22px;
    color: #dc3545;
}

.card-socials a:hover {
    color: #fff;
    text-decoration: none;
}


.carousel-control-prev {
    left: -5rem;
}

.carousel-control-next {
    right: -5rem;
}
/* -------------------------------------------------------------- DESTINATIONS----------------------*/
/* Moons */
div table th tr {
    /* float: left; */
}


.title {
    text-align: center;
    margin-top: 2.5rem;
}


.moons-tab {
    background-color: transparent;
    margin-top: 4.5rem;
}

.moons-tab ul li {
    padding: 0;
}


.moons-tab ul li a {
    color: #fff;
}

.moons-tab ul li a:hover {
    color: #dc3545;
    border: none;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.moons-tab-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border-right: 1px solid #dc3545;
}


/* Destinations */

.h3-heading {
    margin: 3.5rem;
    text-align: center;
    position: relative;
}

.h3-heading::before {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    left: 1rem;
    position: absolute;
    background-color: #dc3545;
    z-index: -1;
}

.h3-heading::after {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    right: 1rem;
    position: absolute;
    background-color: #dc3545;
    z-index: -1;
}


#moons-img-container img {
    height: 200px;
    width: 40%;
}

#moons-img-container .moons-img {
    margin: 0 auto;
}

.container-fluid .model-3d {
    margin: 0 auto;
}



.back-top-btn {
    margin: 4.5rem auto;
    text-align: center;
}

.back-top-btn a {
    color: #fff;
}

.back-top-btn a:hover {
    text-decoration: none;
}



/* -------------------------------------------------------------- FOOTER----------------------*/
/* Footer */

#footer-details {
    background-color: hsl(0, 3%, 53%, 0.1);
    margin-top: 3.5rem;
}

footer h5,p {
    color: #fff;
}


footer div h5, p {
    text-align: center;
}
footer .copyright p {
    padding: 50px 0;
    text-align: center;
}


footer li {
    list-style: none;
    display: inline;
    margin-top: 2rem;
    padding-left: 50px;
    font-size: 50px;
}
footer a {
    color: #dc3545;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}