/* ------------------------------------------------RESETS */

*,
*::before,
*::after {
  box-sizing: border-box; 
}

* {
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- IMPORTS----------------------*/



/* -------------------------------------------------------------- BODY----------------------*/
body {
    background-image: url("/docs/images/pexels-alexandre-p-junior-7736052.jpg");    /* Image from Pexels by alexandre junior*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5, 
h6, p {
    color: #fff;
    text-align: center;
}

h2 span {
    color: #DE3C4B;
}

.uppercase {
    text-transform: uppercase;
}

.red {
    color: #DE3C4B;
}
.black {
    color: #040F0F;
}
.yellow {
    color: #FFBA08;
}

/* -------------------------------------------------------------- NAVIGATION----------------------*/
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(255, 253, 253, 0.2);
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #8190a8;
}

nav > a {
    font-weight: bold;
    font-size: 40px;
}

nav a:hover {
    text-decoration: none;
}

.nav-active > a {
    color: #DE3C4B;
    font-weight: 600;
    font-size: 20px;
}
/* Nav lists */

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* Nav list hover */

nav ul li a:hover {
    color: #DE3C4B;
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown content */
.dropdown-list {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
  }
  
  /*Dropdown Links */
.dropdown-list a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }
  
  /*Dropdown menu on hover */
.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-list a:hover {
    color: #DE3C4B;
    background-color: transparent;
}


/* Sign Up Button */
button {
    padding: 0;
    text-transform: uppercase;
    color: #DE3C4B;
}

.journey {
    background-color: #DE3C4B;
    color: #fff;
}

.journey:hover {
    background-color: #FFBA08;
}


/* -------------------------------------------------------------- HOME----------------------*/
/* Home-Container */


.home-container {
    position: relative;
    height: 825px;
}

.intro-text {
    position: absolute;
    width: 25rem;
    background-color: #FFBA08;
    top: 14%;
    right: 60%;
    left: 40%;
}

.intro-text h1 {
    font-size: 50px;
}

.intro-text-bot {
    position: absolute;
    width: 20rem;
    background-color: #FFBA08;
    left: 10%;
    bottom: 30%;
}

.intro-btn {
    margin-top: .2rem;
}
.intro-btn:hover {
    background-color: #8D99AE;
}


.home-images1 {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;
    overflow: hidden;
}

.home-images2 {
    position: absolute;
    left: 2%;
    top: 24%;
}

.home-images3 {
    position: absolute;
    right: 28rem;
    bottom: 12rem;
}


.home-images1 img {
    width: 595px;
    height: 595px;
}

.home-images2 img {
    width: 550px;
    height: 150px;
}

.home-images3 img {
    width: 150px;
    height: 150px;
}




/* ------------------------------------------------------------- Quotes / Comments -----------------------------*/

/* side */
#comment-section {
    margin-bottom: 5.5rem;
}

.comments {
    margin-top: 6.5rem;
}

.side-text {
    margin-top: 2.5rem;
}

.side-text-bot {
    margin-bottom: 3.5rem;
}

.vert-line {
    width: .2rem;
    height: 5rem;
    margin: 0 auto;
    background-color: #DE3C4B;
}

.sources img {
    width: 110px;
    height: 60px;
}

.sponsors {
    margin-bottom: 10px;
}

.container {
    background-color: #cac4c445;
}


.arrow i {
    color: #DE3C4B;
    margin-bottom: 0;
}

.align-items-end h6 {
    margin-top: .5rem;
}

/* Cards */
.card {
    background: transparent;
}


.card-body {
    position: relative;
}
.card-img {
    padding: 0;
    width: 100px;
    height: 260px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: relative;
}

.ratings {
    position: absolute;
    left: auto;
    right: auto;
    z-index: 3;
}

.card-img-bg {
    background-color: #DE3C4B;
}

.card-img-bg2 {
    background-color: #e6ad03;
}


.card-img img {
    border: 2px solid #DE3C4B;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.f-img img {
    border: 2px solid #FFBA08;
}


.card-body {
    background-color: #8D99AE;
    margin-top: 0;
    padding: 2px auto;
    position: relative;
}


.card-name {
    margin-top: 0;
    margin-bottom: .5rem;
}

.card-text {
    margin-top: 1rem;
}

.card-socials {
    margin-bottom: 2.5rem ;
}

.card-socials a {
    font-size: 22px;
    margin: 0 auto;
    color: #DE3C4B;
}

.f-card-socials a {
    color: #FFBA08;
}

.card-socials a:hover {
    color: #fff;
    text-decoration: none;
}


/* -------------------------------------------------------------- DESTINATIONS----------------------*/
/* Moons */

.moons-sec {
    margin-top: 8.5rem;
}

#moons {
    position: relative;
    margin-bottom: 6.5rem;
}


.title {
    text-align: center;
    margin-top: 2.5rem;
}


.moons-tab {
    background-color: transparent;
    margin-top: 4.5rem;
}

.moons-tab ul li {
    padding: 0;
}


.moons-tab ul li a {
    color: #fff;
}

.moons-tab ul li a:hover {
    color: #DE3C4B;
    border: none;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.moons-tab-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border-right: 1px solid #DE3C4B;
}


.h3-heading {
    margin: 3.5rem;
    text-align: center;
    position: relative;
}

.h3-heading::before {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    left: 1rem;
    position: absolute;
    background-color: #DE3C4B;
    z-index: 3;
}

.h3-heading::after {
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    top: 50%;
    right: 1rem;
    position: absolute;
    background-color: #DE3C4B;
    z-index: 3;
}


#moons-img-container img {
    height: 200px;
    width: 40%;
}

#moons-img-container .moons-img {
    margin: 0 auto;
}

.container-fluid .model-3d {
    margin: 0 auto;
}

/* Back Top Button */

#back-top-btn {
    position: absolute;
    margin: 4.5rem auto;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 2.5%;
    bottom: 14%;
    position: fixed;
    border-radius: 50%;
}

#back-top-btn a {
    color: #fff;
    font-size: 35px;
}

#back-top-btn button {
    transform: none;
    border-radius: 50%;
    background: transparent;
}

#back-top-btn button a:hover {
    text-decoration: none;
    color: #DE3C4B;
}

/* Planets */

.planets-sec {
    margin-top: 4.5rem;
}


/* -------------------------------------------------------------- ABOUT US------------------------------*/

/* Who are we | Why love us */

.about-row {
    margin-bottom: 3.5rem;
}

.about-container {
    padding-bottom: 2.5rem;
}

#about-heading-2 {
    margin-top: 4.5rem;
}

#about-text {
    padding-top: 2rem;
}

.about-bg {
    background-color: #8f8d8d;
    padding-top: 7.5rem;
}

#about-top h3 {
    background-color: #00487C;
    margin-top: 20px;
}

.contact-us-bg {
    background-color: #00487C;
}

.contact-us-bg h4 {
    padding: .8rem;
}

/* Our History */

.history-heading {
    color: #fff;
    margin-bottom: 30px;
}

.history-p {
    margin: auto;
}
/* Timeline from Code Institue Walkthrought Project Resume */
.timeline-item {
    padding: 2.5em 1em 0em 1em;
    position: relative;
    color: #FFBA08;
    border-left: 2px solid #fff;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 1.5em;
    top: 2em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #DE3C4B;
}

.history-items {
    margin-bottom: .8rem;
}


/* Form */

.form-details {
    margin-top: 10px;
}

form p {
    margin-top: 25px;
}

input:hover {
    background-color: #d3d3d3;
}

textarea:hover {
    border: 1px solid #FFBA08;
}


#map {
    margin: 2.5rem 2.5rem;
}

/* -------------------------------------------------------------- FOOTER----------------------*/
/* Footer */

footer {
    background-color: #8190a8;
    line-height: .95rem;
}

footer h5,p {
    color: #fff;
}


footer div h5, p {
    text-align: center;
}
footer .copyright p {
    padding: 50px 0;
    text-align: center;
}


footer li {
    list-style: none;
    display: inline;
    margin-top: 2rem;
    padding-left: 50px;
    font-size: 50px;
}
footer a {
    color: #DE3C4B;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

.about a:hover {
    color: #FFBA08;
}

.note {
    margin: auto;
}

/* -------------------------------------------------------------- MODAL----------------------*/

.modal {
    background-image: url("");
}

.modal-content {
    background-color: #d2d2d2;
}

form label {
    color: #d49f00;
    padding-right: 10px;
}


.modal-button {
    border-radius: 4px;
    background-color: #DE3C4B;
    color: #fff;
    box-shadow: 3px 8px #430303;
    display: grid;
    margin: 30px auto;
}

.modal-button:hover {
    background-color: #FFBA08;
    box-shadow: 3px 8px #DE3C4B;
    color: #fff;
}